/* Common CSS */
*{
    margin: 0 auto;
    padding: 0;
}
main{
    max-width: 1140px; 
}
.text-center{
    text-align: center;
}
.common-text{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

/* Banner Start */
.banner{
    background-image: url('../assets/Hero-bg.png');
   height: 650px  ;
   margin-bottom: 40px;

}
.banner img{CSS, or Cascading Style Sheets, is a stylesheet language used to control the presentation of HTML documents. It allows developers to style web pages by defining colors, fonts, layouts, and responsive designs, enhancing user experience and ensuring consistent visual appearance across different devices.
    padding: 10px;
}
.banner-bg{
   text-align: center;
}
.banner-title{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
width: 998px;
margin: auto;
display: flex;
text-align: center;
align-items: center;
}
.btn{border-radius: 8px;
    background: rgb(13, 19, 33);
    align-items: center;
    padding: 21px 24px 21px 24px;
    margin: 32px 0px;
    width: 244px;
height: 65px;
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 18px;
font-weight: 600;

}
.banner-btn{
    text-align: center;
   }
.banner-description{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
opacity: 0.7;
text-align: center;
}
.banner-detail{
    width: 998px;
    }
    /* Banner css end */

    /*Web develop  */
.web-develop{
    height: 1393px;
    border-radius: 16px;
    padding: 80px 97px 80px 97px;
    /* margin-top: 72px; */
background: rgba(13, 19, 33, 0.02);
}
.card-one{
    padding: 48px;
    display: flex;
    flex-direction: row-reverse;
  gap: 20px;
  border-radius: 16px;
background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

.card-two{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 48px;
    display: flex;
  gap: 20px;
  border-radius: 16px;
background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.card-all{
   
}
.card-one-detail{
    width:477px;
    text-align: justify;
}
.dev-description{
    text-align: justify;
 padding-top: 20px;
}
.web-detail{
    margin: 24px 0px;
    
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
opacity: 0.7;
padding-left: 56px;
padding-right: 56px;
text-align: justify;
}
.card-heading{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}
.dev-btn{
   margin-top: 30px;
   color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
padding: 12px 20px 12px 20px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;

}
.dev-description{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
opacity: 0.7;
text-align: left;
}
.web-title {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}

/* development section end */

/* inspiration  start with jhankar vai */
.inspiration p, .current-target > p{
    padding: 31px 130px;
    text-align: justify;
}
.video{
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;
padding: 32px;
width: 1140px;
height: 614px;
margin-bottom: 40px;
}
.video iframe{
    
}
/* current target section */
.html{
    border-radius: 16px;
    padding: 40px;
background: rgba(255, 76, 30, 0.05);
}
.css{
    padding: 40px;
    border-radius: 16px;

background: rgba(0, 76, 232, 0.05);
}
.JavaScript{
    border-radius: 16px;
padding: 40px;
    background: rgba(255, 223, 0, 0.05);
}
.card-tile{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin: 8px 0px;
}
.card-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin: 8px 0px;
    opacity: 0.7;
}
.card-btn{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
text-align: left;
}
.current-target-card{
    display: flex;
    gap: 24px;.
    flex: 1;
    /* margin: 48px 0px; */
    text-align: left;
}
.html, .css, .JavaScript{
    flex: 1;
}
.current-target{
    margin-bottom: 40px;
}
.card-description{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: justify;
}
.nodejs, .mongo, .reactjs{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 40px;
    margin: 40px 0px;
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 16px;

background: rgb(255, 255, 255);
}